*{
  margin: 0;
  padding: 0;  
}
body{
  background-color: #FFB2E2;    
}
body, html {
  height:100vh;
}


.formuclient{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 220px;
  
}





section{
  margin: 10vh;
  display: flex;
  font-family: Arial;
  justify-content: center;
}

section #RajouterStock{
  background-color: #fff;
  border-radius: 15px;
  border-color: black;
  width: 50vh;
  display: flex;
  flex-flow: column wrap;
  border:2px solid black;
  margin-left : -90%;
}

section #RajouterStockRecip{
  background-color: #fff;
  border-radius: 15px;
  border-color: black;
  width: 50vh;
  display: flex;
  flex-flow: column wrap;
  border:2px solid black;
  margin-left : 80%;
  margin-top : -48%;
}


section #regis{
  width: 55vh;
  display: flex;
  margin-bottom: 50px;
  border-radius: 15px;
  border:2px solid black;
}
#register{
  background-color: blue;
}
#valider{ 
  font-family: "mikado_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 0.8125rem 1.875rem;
  border-radius: 0.9375rem;
  border: none;
  -webkit-box-shadow: inset 0px -4px 4px rgb(0 0 0 / 20%);
  box-shadow: inset 0px -4px 4px rgb(0 0 0 / 20%);
  background: #D92534;
}

.body{
  box-sizing: border-box;
  margin:10vh;
  display:flex;
  justify-content: center;
  border-radius :15px;
}
section form{
  display:flex;
  flex-direction:column;
  background-color:#fff;
  padding:10px;
  font-family: Arial;
}
h4{
  text-align:center;
  font-size:20px;
}
hr{
  margin:10px 0;
  background-color:#ccc;
  border :1px;
  height:1px;
  width:100%;   
}
.name-field{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content:space-between;
}
.name-field div{
  display:flex;
    flex-direction: column;
}
.name-field div{
  width:49%;
}
label{
  margin-bottom:10px;
}
section input{
  border-radius: 0.8em;
  margin-bottom:5px;
  padding:5px;
  outline:0;
  border:1px solid;
}
section input:focus{
  border:1px solid #FFB2E2;
}
section input[type="submit"]{
  margin-top:15px;
  background-color:#FFB2E2;
  color:#fff;
  border:1px solid #FFB2E2;
}

.ctn{
   display: flex;
    column-gap: 100px;
  justify-content: space-between;
 
  
  
}

.buttonad{
 border-radius: 20px;
  text-align: center;
  padding: 0.5%;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer; 
  font-family: "mikado_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  border-radius: 0.9375rem;
  border:1px solid;
  -webkit-box-shadow: inset 0px -4px 4px rgb(0 0 0 / 20%);
  box-shadow: inset 0px -4px 4px rgb(0 0 0 / 20%);
  
  
}

section #za{
  border:2px none;
  border-radius: 15px;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
   background-color: white;
  margin-top : 10%;

}

section #za h2{
text-align: center;
}


