*{
  margin: 0;
  padding: 0;  
}

.principal{
 display: flex;
 width: 100%;
}
.info{
 flex: 1;
 margin-left: 15%;
 margin-top: 7%;
}
section{
  font-family: Arial;
  justify-content: center;
}
.links h2{
 font-size: 2em;
 font-family: Arial, Helvetica, sans-serif;
}
.links a{
  
  background-color: #ffff;
  border-radius: 15px;
  display: inline-block;
  font-family: Arial;
  font-size: 2rem;
  text-decoration: none;
  padding: 20px ;
  color:  #000;
}
  
#CB{
  color: red;
}
#Paypal{
  color: red;
}
.container{
  background-color: #fff;
  border-color: black;
  border:2px solid black;
  width: 80%;
}


#valider{ 
  font-family: "mikado_bold";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 0.8125rem 1.875rem;
  border-radius: 0.9375rem;
  border: none;
  -webkit-box-shadow: inset 0px -4px 4px rgb(0 0 0 / 20%);
  box-shadow: inset 0px -4px 4px rgb(0 0 0 / 20%);
  background: #D92534;
}
body{  
  background-color: #ffd44f;
}
.body{
  box-sizing: border-box;
  margin-top: 25%;
  margin-bottom: 10%;
}
.container form{
  background-color:#fff;
  padding:10px;
  font-family: Arial;
}
h4{
  text-align:center;
  font-size:20px;
}
hr{
  margin:10px 0;
  background-color:#ccc;
  border :4px;
  height:1px;
  width:100%;   
}
.name-field{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content:space-between;
}
.name-field div{
  display:flex;
    flex-direction: column;
}
.name-field div{
  width:49%;
}
label{
  margin-bottom:10px;
}
.container input{
  border-radius: 0.8em;
  margin-bottom:5px;
  padding:5px;
  outline:0;
  border:1px solid;
}
.container input:focus{
  border:1px solid #FFB2E2;
}
.container input[type="submit"]{
  margin-top:15px;
  background-color:#FFB2E2;
  color:#fff;
  border:1px solid #FFB2E2;
}

.global{
 flex: 1;
 margin-left: 5%;
}
.total{
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding:  10px;
  border:2px solid #000;
  width: 70%;
  margin-top: 15%;
}
.total p{
  color: black;
}