
body {
background-color: #ffd44f;
font-family: cursive;
display: flex;
justify-content: center;
color: #303030;
}

.c {
position : absolute;
top : 280px;
width: 750px;
border: 1px solid;
border-radius: 8px;
padding: 0 50px 0 50px;
background: white;

}

.c h2 {
font-family: cursive;
font-weight: 500;
margin-left: auto;
margin-right: auto;

}

div {
width: 100%;
display: flex;
flex-direction: column;
min-height: 83px;
margin-top: 25px;
}


div label {
margin-bottom: 7px;
font-weight: 600;
}


div input,div select, div textarea {
background: #ffd44f;
border: none;
border-radius: 5px;
font-size: 16px;
font-weight: 500;
font-family: Montserrat, "sans-serif";
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

div input,div select {
height: 50px;
padding-left: 10px;
}

div select {
background-size: 15px;
background-position: right 10px top 50%;
background-repeat: no-repeat;
}

div textarea {
height: 240px;
padding: 10px 0px 0px 10px;
}


div input::placeholder, div textarea::placeholder {
color:black;
}

div button {
width: 250px;
max-width: 500px;
height: 40px;
font-weight: 300;
font-size: 15px;
font-family : cursive;
background: white;
border: rgba(48, 48, 48, 0.5) solid 1px;
border-radius: 5px;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
color: #303030;
margin-left: auto;
margin-right: auto;
}

div button:hover {
background-color: #ffd44f;
}

.fin {
position : absolute;
top : 1080px;
background: #ffd44f;
}

.fin p{
margin-left: auto;
margin-right: auto;
}