/*Reset CSS*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none;
  text-decoration: none; */
  font-family: Arial, Helvetica, sans-serif;
}
/*===== HEADER =====*/
header {
  text-align: center;
  font-family: Lemon;
  width: 100%;
}

h1 {
  font-size: 5em;
  text-shadow: 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000, -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000;
  color: #FFE867;
}
#imageFR{
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 4px;
  padding-right: 30px;
}

/*===== MAIN =====*/
main{
  margin: 0px 20px;
  height: 1500px;
  }

/*===== 1st NAVBAR =====*/

.firstnavbar{
  width: 100%;
  margin: 0px auto 40px auto;
  background-color: white;
  position: sticky;
  top: 0px;
}

.firstnavbar ul{
  list-style-type: none;
}

.firstnavbar li{
  float: left;
  width: 33%;/*100% divisé par le nombre d'éléments de menu*/
  text-align: center;/*Centre le texte dans les éléments de menu*/
  position: relative;
}

/*Evite que le menu n'ait une hauteur nulle*/
.firstnavbar ul::after{
  content: "";
  display: table;
  clear: both;
}

.firstnavbar a{
  display: block; /*Toute la surface sera cliquable*/
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
  padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

/*===== 2nd NAVBAR =====*/
/* .secondnavbar{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0px;
}

.secondnavbar ul{
  list-style-type: none;
}

.secondnavbar ul li{
  float: left;
  width: 20%;
  text-align: center;
  position: relative; 
}

.secondnavbar ul::after{
  content: "";
  display: table;
  clear: both;
}

.secondnavbar a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
} */

/*----- Menu deroulant -----*/
/* .sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.secondnavbar > ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  content:" ▼";
  font-size: 12px;
} */

nav{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: sticky;
  top: 0px;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  float: left;
  width: 20%;
  text-align: center;
  position: relative;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}
/*----- Menu deroulant -----*/
.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous{
  display: block;
}

.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  content:" ▼";
  font-size: 12px;
}

/*===== SEARCH BAR=====*/
input {
	outline: none;
}
input[type=search] {
  appearance: textfield;
	-webkit-appearance: textfield;
  box-sizing: content-box;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;

}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: transparent url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	/* border:none; */
  border-radius: 0.8em;
	padding: 9px 10px 9px 32px;
	width: 50%;
	

	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 100%;
	background-color: #fff;
	/* border-color: #66CC75; */
		/* -webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3; */
	border-radius: 0.8em;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}